<h3>Clients</h3>
nom: <input [(ngModel)]="client.nom" /><br />
prenom: <input [(ngModel)]="client.prenom" /><br />
adresse: <input [(ngModel)]="client.adresse" /><br />
email: <input [(ngModel)]="client.email" /><br />
<button (click)="ajoutClient()">Ajouter Client</button>
message: {{message}}