<h2>Liste des comptes d'un client</h2>
numClient : <input [(ngModel)]="numClient" /> <br />
<button (click)="searchComptes()">rechercher comptes du client</button> <br />
<table border="1">
    <thead>
        <tr>
            <td>numero</td>
            <td>label</td>
            <td>solde</td>
        </tr>
    </thead>
    <tbody id="tbody">
        <tr *ngFor="let compte of listeComptes">
            <td>{{compte.numero}}</td>
            <td>{{compte.label}}</td>
            <td>{{compte.solde}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h2>Virement</h2>
montant: <input [(ngModel)]="virement.montant" /><br />
Debiteur: <input [(ngModel)]="virement.numCptDebt" /><br />
Crediteur: <input [(ngModel)]="virement.numCptCred" /><br />
<button (click)="declencherVirement()">Déclencher le virement</button>
status?: {{virement.status}} <br />
message?: {{virement.message}} <br />
date?: {{virement.date}} <br />